parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        -
          identifier: missingType.generics
        - '#defaultDocumentRepositoryClassName with type .* is not subtype of native type string#'
        - '#Method .*Configuration::getDefaultDocumentRepositoryClassName\(\) never returns null#'
includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
